.cb-bg-primary {
    background-color: $primary;
}
.cb-bg-secondary {
    background-color: $secondary;
}
.cb-bg-light-pink {
    background-color: $light_pink;
}
.cb-text-primary {
    color: $primary;
}
.cb-text-secondary {
    color: $secondary;
}
.cb-text-light-pink {
    color: $light_pink;
}
.cb-container-fluid {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0;
}
.button-outline-primary {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: $primary;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid $primary;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    &:hover {
        background-color: $primary;
        color: $header_top_text;
    }
}
.button-primary {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: $primary;
    border: 1px solid $primary;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    &:hover {
        background-color: darken($primary, 20%);
        color: $header_top_text;
    }
}
.button-outline-secondary {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: $secondary;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: transparent;
    border: 1px solid $secondary;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    &:hover {
        background-color: $secondary;
        color: $header_top_text;
    }
}
.button-secondary {
    display: inline-block;
    font-weight: 400;
    line-height: 1.5;
    color: #fff;
    text-align: center;
    text-decoration: none;
    vertical-align: middle;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    user-select: none;
    background-color: $secondary;
    border: 1px solid $secondary;
    padding: 0.375rem 0.75rem;
    font-size: 1rem;
    border-radius: 0.25rem;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    &:hover {
        background-color: darken($secondary, 20%);
        color: $header_top_text;
    }
}
.box-shadow-bottom {
    box-shadow: 0 2px 10px 0px rgba(0, 0, 0, 0.5);
}
.cb-post-thumbnail {
    object-fit: cover;
    height: 100%;
    width: 100%;
}
.read-more {
    text-decoration: none;
    color: $primary;
    &:hover {
        color: $secondary;
    }
}
.cb-list {
    @extend .reset-list;
    .cb-list-item {
        padding: 8px 0;
        a{
            @extend .reset-link;
            @include setFont(16px, 400, #fff);
            &:hover {
                color: $primary;
            }
        }
    }
}
.card-x-img {
    border-radius: 0.25rem 0.25rem 0 0;
}
@media (min-width: 992px) {
    .card-x-img {
        border-radius: 0.25rem 0 0 0.25rem;
    }
}