$primary: #122640;
$secondary: #BF452A;
$light_pink: #F2DFD8;

//utilities

$button_primary: $primary;
$button_secondary: $secondary;

$header_top_text: #fff;
$header_top_text_hover: $light_pink;
$menu_text_color: $primary;
$menu_text_hover_color: $secondary;
$dropdown_menu_item_bg: $light_pink;