@import 'variables';
@import 'reset';
@import 'mixins';
@import 'utilities';


/* Header top section */
body{
    background-color: $light_pink;
}
.header-top {
    background-color: $primary;
}
.header-contact-info, .cb-social-links {
    //
    ul {
        @extend .reset-list;
        margin-bottom: 0;
        padding-left: 0;
        li {
            padding: 5px 10px;
            &:first-child{
                padding-left: 0;
            }
            a {
                @extend .reset-link;
                @include setFont(14px, 400, $header_top_text);
                transition: all 0.5s;
                &:hover {
                     color: $header_top_text_hover;
                }
            }
        }
    }
 }
/* Header main */
.header-main {
    .logo-wrap{
        max-width: 50%;
    }
    .action-buttons i{
        font-size: 25px;
    }
    .cart-icon {
        position: relative;
    }
    .cart-icon .cart-badge {
        position: absolute;
        border-radius: 50%;
        height: 18px;
        width: 18px;
        background-color: red;
        color: #fff;
        line-height: 18px;
        text-align: center;
        font-size: 12px;
        transform: translate(-5px, 0);
    }
    li.nav-item:not(:first-child) {
        margin-left: 20px;
    }
    .navbar-light .nav-link {
        @include setFont(16px, 500, $menu_text_color);
        &:hover, &.active {
            color: $menu_text_hover_color;
        }
    }
    .nav-item.dropdown:not(.show):hover .dropdown-menu {
        display: block; 
    }
    .dropdown-menu {
        border-radius: 0;
        border: none;
        box-shadow: 0 0 5px 0 rgba(0,0,0, 0.1);
        padding: 0;
        min-width: 250px;
    }
    .dropdown-item {
        padding: 10px;
        border-bottom:1px solid rgba(0,0,0, 0.1);
        @include setFont(16px, 500, $menu_text_color);
            &:hover, &.active, &:active {
                color: $menu_text_hover_color;
                background-color: $dropdown_menu_item_bg;
            }
    }
}

/* Post box */
.post-box {
    .post-title {
        color: $secondary;
        &:hover {
            color: $primary;
        }
    }
}
/* page styles */

.page-breadcrumb {
    min-height: 300px;
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-image: url(../img/page-breadcrumb.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    .breadcrumb-item a, .breadcrumb-item::before, .breadcrumb-item {
        @include setFont(16px, 500, #fff);
        transition: all 0.5s;
    }
    .breadcrumb-item:not(.active):hover, .breadcrumb-item:not(.active) a:hover {
        color: lighten( $primary, 30%);
    }
}

/* Comment area */

.comment-card {
    .comment-avatar {
        max-width: 60px;
        max-height: 60px;
        object-fit: cover;
    }
}

@media (max-width:991px) {
    .header-main li.nav-item:not(:first-child) {
        margin-left: 0;
    }
}
@media (max-width: 767px) {
    .comment-card {
        .comment-avatar {
            max-width: 40px;
            max-height: 40px;
        }
    } 
}
